<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ./partials/form.ejs%>
  <body>
    <div class="container">
      <form class="input1" action="/books" method="post">
        Name: <input type="text" name="" value=""><br/>
        Author: <input type="text" name="" value=""><br/>
        Pages: <input type="text" name="" value=""><br/>
        Rating: <input type="text" name="" value=""><br/>
        Img: <input type="text" name="" value=""><br/>
        <input type="submit" name="" value="SUBMIT">
      </form>
    </div>
  </body>
</html>
