<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ./books/partials/form.ejs%>
  <body>
    <div class="container">
      <a href="users/new">Sign Up</a><br/>
      <a href="sessions/new">Log In</a><br/>
    </div>
  </body>
</html>
