body{
  /* text-align: center; */
  font-family: sans-serif;
  font-size: 12px;
  background-color: #E0FFFF;
}

.container{
  background-color: #F0FFFF;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  /* margin: 0 auto; */
  margin-left: 40px;
  margin-top: 40px;

  height: 100%;
  width: 700px;
}

.one{
  width: 300px;
  margin: 20px;
  padding: 5px;
}
.two{
  /* width: 400px; */
  padding: 5px;
  margin: 30px;
  display: flex;
  flex-direction: column;
}
img{
  height: 200px;
  width: 200px;

}
.flextest{
  display: flex;
  justify-content: space-between;
}
.img{
  display: inline-block;
}
a{
  text-decoration: none;
  font-size: 16px;

}
