body{
  background-color: gray;
  font-family: sans-serif;
}

p{
  color: black;
}

.one{
  /* margin-left: 25px; */
}
.onclick:hover{
  color: blue;
}

a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.hide{
  display: none;
}

.container{
  display: flex;
  justify-content: space-around;
  margin: 15px;
  padding: 15px;
}

.two{
  /* margin-left: 75px; */
  /* width: 200px; */
}

.test{
  display: flex;
  justify-content: space-between;
}

.delete{
  
}
