body{
  background-color: gray;
  font-family: sans-serif;
}

p{
  color: black;
}

.one{
  margin-left: 25px;
}
.onclick:hover{
  color: blue;
}

a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.hide{
  display: none;
}

.container{
  display: flex;
}

.two{
  margin-left: 75px;
  width: 200px;
}
