body{
  /* background-color: #F0FFFF;*/
  background-color: #E0FFFF;
  font-family: sans-serif;
  padding: 30px;
}
h1{
  font-size: 16px;
}
p{
  color: black;
}

.header{
  margin-left: 55px;
  margin-top: 25px;
}

.one{
  /* margin-left: 25px; */
}
.onclick:hover{
  color: blue;
}

a{
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.hide{
  display: none;
}

.container{
  display: flex;
  justify-content: space-around;
  margin: 0px 15px 15px 15px;
  /* padding: 5px; */
}

.two{
  /* margin-left: 75px; */
  /* width: 200px; */
}

.test{
  display: flex;
  justify-content: space-between;
}

.delete{
  font-size: 8px;
}

.bigContainer{
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* background-color: #E0FFFF */
  background-color: #F0FFFF;
  padding: 15px;

}

#new{
  display: flex;
  border-radius: 5px;
  padding: 5px;
  /* font-size: 14px; */
  background-color: #F0FFFF;
}

.asdf{
  text-align: center;
}

.users{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#changeuser{
    color: blue;
    margin: 20px;
    margin-right: 500px;
    font-size: 10px;
}

#changeuser:hover{
  color: red;
}
