<!DOCTYPE html>
<html lang="en" dir="ltr">
  <% include ../books/partials/form.ejs%>
  <body>
    <div class="container">
      <form class="newForm" action="/users" method="POST">
        Username: <input type="text" name="username" value=""><br/>
        Password: <input type="password" name="password" value=""><br/>
        <input type="submit" name="" value="Register">
        <a href="/">Return</a>
      </form>
    </div>
  </body>
</html>
